.comment-input {
    padding: 10px;
    flex: 1;
    border-radius: 15px;
    margin-left: 10px;
    background-color: #f1f2f3;
    border: none;
}

.post-likes-comments {
    display: flex;
    justify-content: space-between;
    align-items: center;
}