.post {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    padding: 12px 16px 10px;
    border: 1px solid lightgray;
}

.post-image > img {
    width: 100%;
}


.post-top {
    display: flex;
    padding: 15px;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
}

.post-top-info > p {
    font-size: 13px;
    color: #65676b;
}

.post-options {
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 12px;
}

.post-option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
}

.post-option > img {
    height: 18px;
    width: 18px;
}

.post-option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
    font-weight: 500;
    color: #65676b;
}