
.profile-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
}

.cover-photo-container {
    background-color: #D7D7D7;
    width: 1250px;
    height: 462px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    object-fit: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.update-cover-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 6px 12px;
    margin-bottom: 20px;
    margin-right: 40px;
    border-radius: 6px;
    font-size: 15px;
}
.cover-photo {
    background-color: #D7D7D7;
    width: 1250px;
    height: 462px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#camera-logo {
    height: 16px;
    width: 16px;
}

#camera-logo-2 {
    height: 18px;
    width: 18px;
}

.update-cover-photo:hover {
    background-color: #eff2f5;
    border-radius: 6px;
    cursor: pointer;
}

.profile-photo-container {
    height: 186px;
    width: 186px;
    border-radius: 50%;
    background-color: #D7D7D7;
    margin-left: 100px;
    margin-top: -150px;
    margin-bottom: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.profile-photo-btn-container {
    margin-left: 300px;
    margin-top: -50px;
    margin-bottom: 16px;
}

.update-profile-photo {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-bottom: 5px;
    margin-right: 10px;
}

.profile-photo {
    height: 186px;
    width: 186px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: #D7D7D7;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.cover-photo-btn-container {
    position: absolute;
    margin-left: 850px;
    margin-top: -64px;
    font-size: 17px;
    background-color: #F1F2F5;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    padding: 6px 12px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}

.cover-btn {
    margin-left: 4px;
    border-radius: 15px;
    padding: 3px;
    display: inline-block;
}

.profile-btn {
    margin-left: 4px;
    border-radius: 15px;
    padding: 3px;
    display: inline-block;
}

.profile-btn:hover {
    background-color: #eff2f5;
    cursor: pointer;
}

.cover-btn:hover {
    background-color: #eff2f5;
    cursor: pointer;
}

.profile-header-name {
    margin-left: 300px;
    font-size: 32px;
    font-weight: 600;
    padding: 5px;
}

.update-profile-photo:hover {
    background-color: #eff2f5;
    cursor: pointer;
}


#bottom-profile-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#profile-header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 568px;
    width: 100vw;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.profile-username {
    font-size: 32px;
}

.profile-body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f1f2f5;
    min-width: 100vw;
    min-height: 340px;
}

.profile-bio {
    margin-top: 20px;
    width: 430px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    padding: 20px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.profile-bio-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
}


.profile-post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-middle-post {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 12px 16px 10px;
    border: 1px solid lightgray;
}

.bio-row {
    padding: 10px;
    display: flex;
    align-items: center;
    max-width: 430px;
}

.bio-row-icon {
    height: 20px;
    width: 20px;
}

.bio-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.bio-details {
    font-size: 15px;
}

#profile-bio-about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding-bottom: 10px;
}

.edit-profile-b {
    border-radius: 15px;
    background-color: white;
    color: black;
}

.edit-profile-b:hover {
    background-color: #eff2f5;
    cursor: pointer;
}

.update-info-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10px;
}

#edit-title {
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.edit-p-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-profile-labels {
    padding: 10px;
}

#edit-submit {
    width: 85%;
    color: black;
    padding: 10px 20px;
    background-color: white;
}

#edit-submit:hover {
    background-color: #f1f2f3;
}

.input-fields {
    flex: 1;
    width: 300px;
}

#t-area {
    width: 280px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 5px;
}

#city {
    margin-right: 22px;
}

#work {
    margin-right: 13px;
}

.close-x-update-form {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px;
    font-size: 30px;
}

#space {
    background-color: white;
    padding: 10px;
}

.close-x-update-form:hover {
    background-color: #f1f2f3;
    cursor: pointer;
}

#profile-bio-d {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding-bottom: 10px;
}