body {
  font-family: SFProDisplay-Regular,
    Helvetica,
    Arial,
    sans-serif;
  vertical-align: middle;
}

header {
  background: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 720px;
}

.main-body-splash {
  background: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 536px;
  width: 1140px;
  padding-bottom: 112px;
  padding-top: 72px;
}

textarea {
  resize: none;
}

button {
  padding: 15px;
  border: none;
  color: #fff;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.splash-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 432px;
}

.splash-logo {
  color: #1877f2;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.splash-title {
      font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
        font-size: 28px;
        font-weight: normal;
        line-height: 32px;
        width: 500px;
        margin-top: 19px;
}

.login-form-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 375px;
  height: 350px
}

.login-form-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%
}

.button-create {
  background: #42b72a;
  width: 200px;
  margin-top: 10px;
  outline: none;
  font-size: 17px;
}

.button-create:hover {
  background: #42b72ae8;
}

.session-submit,
.demo-button {
  background: #1877f2;
  color: #fff;
  font-weight: bold;
  outline: none;
  font-size: 17px;
}

.session-submit:hover,
.demo-button:hover {
  background: #1876f2ee;
}

.demo-button {
  margin: 0px 0px 10px 0px;
  width: 100%;
}

button,
input {
  border-radius: 6px;
}
.name-input{
  border: 1px solid #cecccc;
    margin-bottom: 10px;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    width: 90%;
}

.login-input {
  border: 1px solid #cecccc;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 17px;
}

.login-input.errors {
  border: 1px solid red;
}

footer {
  padding: 10px 50px 10px 50px;
  display: flex;
  color: dimgray;
  justify-content: center;
  align-items: center;
}

.footer-links {
  display: flex;
}

.footer-links a {
  padding: 0 10px 0 10px;
}

.copyright {
  text-align: center;
}

img {
  object-fit: cover;
}

/* tegegerfregrtgg*---------------- */
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 49.5%;
  transform: translate(-50%, -50%);
}

.close-x {
  position: absolute;
  left: 370px;
  top: -5px;
  padding: 10px;
  font-size: 30px;
}

.close-x:hover {
  cursor: pointer;
  color: red;
}

span {
  font-weight: bold;
}

.modal-child>.login-form-container {
  height: 550px;
}

.signup-border,
.border {
  border-top: 1px solid #cecccc;
  width: 100%;
}

.modal-background .border {
  border: none;
}

.signup-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
}

.signup-header>h1 {
      color: #1c1e21;
        font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
        font-size: 40px;
        line-height: 38px;
}

.signup-header>h3 {
     color: #606770;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 12px;color: #606770;
      font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 12px;
}

.signup-names-input {
  display: flex;
}

.signup-names {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 375px
}

.birthday {
  font-size: 16px;
  margin-bottom: 5px;
}

.birthday-parent-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 15px;
}

.gender-parent-container {
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
}


.password-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 5px;
}

.gender {
  margin-top: 2px;
}

.error-messages.birthday,
.error-messages.fname,
.error-messages.email,
.error-messages.password {
  position: absolute;
  background: #be4b49;
  color: white;
  font-size: 13px;
  width: 200px;
  height: 35px;
  border-radius: 3px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2
}

.error-messages.birthday:after,
.error-messages.fname:after,
.error-messages.email:after,
.error-messages.password:after {
  content: '';
  position: absolute;
  right: -8px;
  top: 2px;
  border-top: 15px solid transparent;
  border-right: none;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #be4b49;
  z-index: -1
}

.error-messages.lname {
  position: absolute;
  background: #be4b49;
  color: white;
  font-size: 13px;
  width: 170px;
  height: 35px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2
}

.error-messages.lname:after {
  content: '';
  position: absolute;
  right: 163px;
  top: 2px;
  border-top: 15px solid transparent;
  border-right: 15px solid #be4b49;
  border-bottom: 15px solid transparent;
  border-left: none;
  z-index: -1
}

.error-messages.login {
  position: absolute;
  background: #be4b49;
  color: white;
  font-size: 13px;
  width: 170px;
  height: 41px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.error-messages.login:after {
  content: '';
  position: absolute;
  right: -8px;
  top: 4px;
  border-top: 15px solid transparent;
  border-right: none;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #be4b49;
}

.error-messages.birthday {
  top: 33%;
  left: -59%
}

.error-messages.fname {
  top: 14%;
  left: -59%
}

.error-messages.lname {
  top: 13%;
  left: 105.5%
}

.error-messages.email {
  top: 39%;
  left: -48%
}

.error-messages.password {
  top: 52.5%;
  left: -48%
}

.error-messages.login {
  top: -40%;
  left: -50%
}


